/* .indicator {
  width: rem(12px);
  height: rem(9px);
  transition: width 250ms ease;
  background-color: gray;
  margin-bottom: -135px;
  margin-bottom: -65px;
  
  &[data-active] {
    width: rem(18px);
    height: 9px;
    background-color: black;
  }
  .mantine-Carousel-indicators{
    margin-bottom: -65px !important;
  
  }
  .m-71ea3ab1{
    margin-bottom: -65px;
  
  }
} */

.indicator {
  width: rem(12px);
  height: rem(9px);
  transition: width 250ms ease;
  background-color: gray;
  margin-bottom: -135px !important; /* You have two margin-bottom declarations, you might want to remove one */
  
  &[data-active] {
    width: rem(18px);
    height: 9px;
    background-color: black;
  }
  
  /* Use more specific selectors if needed */
}
/* Custom styles for the Carousel indicators */
.mantine-Carousel-indicators {
  position: relative;
  bottom: auto;
  margin-top: 20px; /* Adjust the top margin as needed */
  text-align: center;
}

